---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
---

<Layout title={`Articles | ${SITE.title}`}>
  <Header activeNav="articles" />
  <Main pageTitle="Articles" pageDesc="All the articles by my Authors 😉">
    <!--<div>-->
    <!--  {tags.map(({ tag }) => <Tag {tag} size="lg" />)}-->
    <!--</div>-->
    <ul>
      {
        page.data.map(({ data, slug }) => (
          <Card href={`/articles/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
